/*************
 * Main Theme
 *************/
body{
  margin: 0;
  padding: 0;
  //font-family: $Montserrat;
}

// --------
// Header
// --------

header {
  min-height: 100vh;

  h1, #countdown {
    color: white;
  }

  #logo-wrapper {
    min-height: 70px;
  }

  .cta-btn {
    button {
      margin-top: 20px;
      padding: 10px 20px 10px 20px;
      @include border-radius(35px);
      background-color: $green;
      border: none;
      color: white;
      font: $font-cta;
      @include transition(font-size .2s);

      &:hover {
        font-size: 40px;
      }

      &:focus {
        outline: none !important;
        font-size: 35px;
      }
    }
  }
}

//TODO: Change background img for mobile
//@media (pointer: coarse) and (hover: none) {
//  header {
//    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
//  }
//  header video {
//    display: none;
//  }
//}

// --------
// Sections
// --------

.section-block {
  padding: 20px 0 20px 0;
}
