/*******************
 * MAIN THEME
 *******************/
body{
  margin: 0;
  padding: 0;
  //font-family: $Montserrat;
}

/*************
* Loader
**************/
.loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #43a047;
  z-index: 99;
  overflow: hidden;
  opacity: 1;
  color: white;
  @include transition(opacity 1s);

  .flex-row{
    min-height: 100%;
  }
}

/*************
* Header
**************/
.header-wrapper{
  min-height: 100vh;
}

header {
  min-height: 100vh;

  h1, #countdown {
    color: white;
  }

  #logo-wrapper {
    min-height: 70px;
  }

  .cta-btn {
    button {
      cursor: pointer;
      width: 250px;
      margin-top: 20px;
      padding: 10px 20px 10px 20px;
      @include border-radius(35px);
      background-color: $green;
      border: none;
      color: white;
      font: $font-cta;
      @include transition('width' .5s, 'border-radius' .5s);

      &:hover {
        //font-size: 40px;
        width: 400px;
        border-radius: 0;
      }

      &:focus {
        outline: none !important;
        font-size: 35px;
      }

      @include media-breakpoint-down(sm) {
        // TODO: Mobile style for cta
      }
    }
  }

  form{
    display: flex;
    flex-flow: row nowrap;
  }

  .hidden{
    display: none;
  }

  // Mark: Countdown
  #countdown {
    margin-top: 40px;
  }
}

/*************
* Sections
**************/

.section-block {
  padding: 20px 0 20px 0;
}
