/*******************
 * MAIN THEME
 *******************/
body{
  margin: 0;
  padding: 0;
  //font-family: $Montserrat;
}

.overlay{
  background-color: rgba(0,0,0,0.4);
}

h1, h2, .h1{
  font-weight: 700;
}

p{
  color: white;
}

/*************
* Loader
**************/
.loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #43a047;
  z-index: 1035;
  overflow: hidden;
  opacity: 1;
  color: white;
  @include transition(opacity 1s);

  .flex-row{
    min-height: 100%;
  }
}

/*************
* Navbar
**************/
nav{
  .navbar-brand{
    font: $logo-font;
    width: 100%;
    max-width: 10rem;

    img{
      width: 100%;
    }
  }
}

/*************
* Header
**************/
.header-wrapper{
  min-height: 85vh;
}

header {
  min-height: 85vh;

  h1, #countdown {
    color: white;
  }

  #logo-wrapper {
    min-height: 70px;
  }

  .cta-btn {
    button {
      cursor: pointer;
      width: 250px;
      margin: 20px 0 25px 0;
      padding: 10px 20px 10px 20px;
      @include border-radius(35px);
      background-color: $green;
      border: none;
      color: white;
      font: $font-cta;
      @include transition('width' .5s, 'border-radius' .5s);

      &:hover {
        //font-size: 40px;
        width: 400px;
        border-radius: 0;
      }

      &:focus {
        outline: none !important;
        font-size: 35px;
      }

      @include media-breakpoint-down(sm) {
        // TODO: Mobile style for cta
      }
    }
  }

  form{
    display: flex;
    flex-flow: row nowrap;
  }

  .hidden{
    display: none;
  }

  // Mark: Countdown
  #countdown {
    margin-top: 40px;
  }

  //Mark: Social Media Buttons
  .social-media{
    img{
      max-width: 3rem;
      @include transition('all' .2s);

      &:hover{
        max-width: 4rem;
      }
    }
  }
}

/*************
* Separators
**************/
.separator{
  .separator-content{
    min-width: 100%;
    svg{
      min-width: 100%;
    }
    @include media-breakpoint-down(md){
      overflow: hidden;
    }
  }
}

/*************
* Sections
**************/

.section-block {
  padding: 20px 0 20px 0;
  background: #155799;
  background: -webkit-linear-gradient(#56ccf2, #2f80ed);
  background: linear-gradient(#56ccf2, #2f80ed);
  color: white;
}
