/*******************
 * VARIABLES
 *******************/

//Fonts
$font-cta: 700 35px $Montserrat;
$logo-font: 700 1.25rem $Montserrat;

// Colors
$green: #2BC016 !default;
//$blue: #2F80ED !default;
$dark-blue: #007bff !default;
$light-blue: #56ccf2 !default;
//$dark: #155799 !default;
